.change-password2,
.group-child9 {
  position: absolute;
  top: 0;
  height: 28px;
}
.change-password2 {
  left: 14px;
  font-weight: 600;
  display: inline-block;
  width: 223px;
}
.group-child9 {
  left: 0;
  background-color: var(--color-gold-300);
  width: 8px;
}
.change-password-parent {
  width: 237px;
  position: relative;
  height: 28px;
  z-index: 0;
  font-size: var(--font-size-5xl);
  color: var(--color-darkviolet-100);
}
.username-inner {
  position: absolute;
  top: 24.9px;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke-100);
  width: 264px;
  height: 31.1px;
}
.current-password,
.username5 {
  position: absolute;
  display: inline-block;
}
.current-password {
  top: 29.9px;
  left: 10.2px;
  line-height: 20px;
  width: 195.1px;
  height: 18.9px;
}
.username5 {
  top: 0;
  left: 0;
  font-weight: 500;
  color: var(--color-darkviolet-100);
  width: 169px;
  height: 17px;
}
.username4 {
  width: 264px;
  position: relative;
  height: 56px;
  z-index: 1;
}
.username7 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
  color: var(--color-darkviolet-100);
  display: inline-block;
  width: 110px;
  height: 17px;
}
.username6 {
  width: 264px;
  position: relative;
  height: 56px;
  z-index: 2;
}
.username9 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
  color: var(--color-darkviolet-100);
  display: inline-block;
  width: 216px;
  height: 17px;
}
.username8 {
  width: 264px;
  position: relative;
  height: 56px;
  z-index: 3;
}
.eye-fill-icon,
.eye-fill-icon1 {
  width: 24px;
  position: absolute;
  margin: 0 !important;
  top: 230px;
  left: 233px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 4;
}
.eye-fill-icon1 {
  top: 154px;
  z-index: 5;
}
.group-parent8 {
  position: absolute;
  top: 22px;
  left: 18px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-xl);
  font-size: var(--font-size-sm);
  color: var(--default-white);
}
.change-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-teal-100);
  width: 150px;
  height: 56px;
}
.change3 {
  position: absolute;
  top: 12px;
  left: 29px;
  letter-spacing: 0.1em;
  font-weight: 800;
}
.cancel-item,
.change2 {
  position: absolute;
  width: 150px;
}
.change2 {
  top: 304px;
  left: 150px;
  height: 56px;
  cursor: pointer;
}
.cancel-item {
  top: 0;
  left: 0;
  background-color: var(--color-darkorchid-100);
  height: 50px;
}
.cancel3 {
  position: absolute;
  top: 13px;
  left: 35px;
  letter-spacing: 0.1em;
  font-weight: 800;
}
.cancel2 {
  position: absolute;
  top: 304px;
  left: 0;
  width: 150px;
  height: 50px;
  cursor: pointer;
}
.change-password1 {
  width: 300px;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-xl);
  background-color: var(--color-light-white);
  height: 354px;
  overflow: hidden;
  max-width: 90%;
  max-height: 90%;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-light-white);
  font-family: var(--base-1-semibold);
}
