@keyframes slide-in-left {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.bookmark-page-child {
  position: absolute;
  top: 73.2px;
  left: 318.2px;
  width: 11.6px;
  height: 11.6px;
  object-fit: cover;
}
.group-child20,
.list-1-icon3 {
  position: absolute;
  left: calc(50% - 160px);
}
.list-1-icon3 {
  top: calc(50% - 256px);
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.group-child20 {
  top: calc(50% - 23px);
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke-100);
  width: 320px;
  height: 46px;
}
.search-3-icon2 {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% + 124.8px);
  width: 24.2px;
  height: 24px;
  overflow: hidden;
}
.type-a-title1 {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 147.9px);
  line-height: 20px;
  display: inline-block;
  width: 236.5px;
}
.rectangle-parent17 {
  position: absolute;
  top: calc(50% - 179px);
  left: calc(50% - 160px);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 320px;
  height: 46px;
  color: var(--default-white);
}
.bookmarks,
.group-child21 {
  position: absolute;
  top: calc(50% - 14px);
  height: 28px;
}
.bookmarks {
  left: calc(50% - 76px);
  font-weight: 600;
  display: inline-block;
  width: 166px;
}
.group-child21 {
  left: calc(50% - 90px);
  background-color: var(--color-gold-300);
  width: 8px;
}
.bookmarks-parent {
  position: absolute;
  top: calc(50% - 218px);
  left: calc(50% - 156px);
  width: 180px;
  height: 28px;
  font-size: var(--font-size-5xl);
}
.icon-instagram-with-circle4 {
  width: 25px;
  position: relative;
  height: 25px;
}
.icon-logo-tiktok4,
.icon-twitter4 {
  width: 30.8px;
  position: relative;
  height: 25px;
}
.icon-logo-tiktok4 {
  width: 21.7px;
}
.icon-instagram-with-circle-parent2 {
  position: absolute;
  top: 2px;
  left: 22.5px;
  width: 315px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-mini) 0 0;
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.frame-child2 {
  position: absolute;
  top: 61px;
  left: 0;
  background-color: var(--color-gold-100);
  width: 360px;
  height: 19px;
}
.copyright-20244 {
  position: absolute;
  top: 64px;
  left: 133px;
  font-weight: 300;
  white-space: pre-wrap;
}
.group-icon4 {
  position: absolute;
  height: 10.38%;
  width: 2.31%;
  top: 82.5%;
  right: 47.14%;
  bottom: 7.13%;
  left: 50.56%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.footer4,
.frame-parent3 {
  position: absolute;
  width: 360px;
  height: 80px;
}
.frame-parent3 {
  top: calc(50% - 40px);
  left: calc(50% - 180px);
  background-color: var(--color-purple);
}
.footer4 {
  top: 928px;
  left: 0;
  font-size: var(--font-size-3xs);
  color: var(--color-black);
}
.group-child22 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  width: 50px;
  height: 74.1px;
  object-fit: cover;
}
.div33 {
  position: absolute;
  top: 41px;
  left: 59px;
  font-size: var(--font-size-sm);
  display: inline-block;
  width: 226px;
}
.rectangle-parent18 {
  position: absolute;
  top: 0;
  left: 0;
  width: 285px;
  height: 74.1px;
}
.star-fill-3-icon7 {
  position: absolute;
  top: 27px;
  left: 277px;
  width: 16px;
  height: 16px;
  overflow: hidden;
}
.div34,
.group-parent11 {
  position: absolute;
  top: 0;
  left: 0;
  width: 293px;
  height: 74.1px;
}
.div34 {
  top: 27px;
  left: 241px;
  font-size: var(--font-size-sm);
  font-weight: 600;
  color: var(--color-mediumaquamarine-200);
  text-align: right;
  display: inline-block;
  width: 31px;
  height: 17px;
}
.group-parent10 {
  position: absolute;
  top: 0;
  left: 5px;
  width: 293px;
  height: 74.1px;
  cursor: pointer;
}
.the-beaver-king {
  position: absolute;
  top: 15px;
  left: 59px;
  font-weight: 600;
  display: inline-block;
  width: 226px;
}
.group-parent12 {
  position: absolute;
  top: 88.1px;
  left: 5px;
  width: 293px;
  height: 74.1px;
  cursor: pointer;
}
.the-fox-king {
  margin: 0;
}
.div37,
.the-fox-king-container {
  position: absolute;
  left: 59px;
  display: inline-block;
  width: 226px;
}
.the-fox-king-container {
  top: 15px;
  font-size: var(--font-size-xl);
  font-weight: 600;
}
.div37 {
  top: 41px;
}
.vector-icon1 {
  position: absolute;
  height: 21.59%;
  width: 5.46%;
  top: 35.09%;
  right: 0;
  bottom: 43.32%;
  left: 94.54%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div38 {
  position: absolute;
  top: 27px;
  left: 241px;
  font-weight: 600;
  color: var(--color-mediumaquamarine-200);
  text-align: right;
  display: inline-block;
  width: 31px;
  height: 17px;
}
.rectangle-parent20 {
  position: absolute;
  top: 176.1px;
  left: 5px;
  width: 293px;
  height: 74.1px;
  cursor: pointer;
  font-size: var(--font-size-sm);
}
.group-parent13,
.group-parent15,
.group-parent16,
.group-parent17,
.group-parent18 {
  position: absolute;
  top: 264.2px;
  left: 5px;
  width: 293px;
  height: 74.1px;
  cursor: pointer;
}
.group-parent15,
.group-parent16,
.group-parent17,
.group-parent18 {
  top: 352.3px;
}
.group-parent16,
.group-parent17,
.group-parent18 {
  top: 440.4px;
}
.group-parent17,
.group-parent18 {
  top: 528.4px;
}
.group-parent18 {
  top: 616.5px;
}
.group-parent9 {
  position: absolute;
  top: calc(50% - 111px);
  left: calc(50% - 154px);
  width: 298px;
  height: 690.6px;
  font-size: var(--font-size-xl);
}
.status-bar-light4 {
  position: absolute;
  top: calc(50% - 320px);
  left: calc(50% - 180px);
  width: 360px;
  height: 41.9px;
  object-fit: cover;
}
.bookmark-page {
  width: 100%;
  position: relative;
  background-color: var(--color-light-white);
  height: 640px;
  overflow-y: auto;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-darkviolet-100);
  font-family: var(--base-1-semibold);
}
.bookmark-page-open-drawer-child,
.cmaxx3 {
  position: absolute;
  top: 0;
  left: 1px;
  width: 234px;
  height: 598px;
}
.cmaxx3 {
  left: 30.3px;
  font-weight: 800;
  display: inline-block;
  width: 129.7px;
  height: 38px;
}
.clapperboard-2-13 {
  position: absolute;
  top: 0;
  left: 0;
  width: 23.9px;
  height: 32px;
  object-fit: cover;
}
.cmaxx-parent1 {
  position: absolute;
  top: 16px;
  left: 36px;
  width: 160px;
  height: 38px;
  cursor: pointer;
  font-size: var(--font-size-13xl);
}
.avatar-icon3 {
  width: 48px;
  position: relative;
  border-radius: var(--br-29xl);
  height: 48px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.ashfak-sayem3,
.ashfaksayemgmailcom3 {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 24px;
  font-weight: 600;
}
.ashfaksayemgmailcom3 {
  font-size: var(--caption-2-medium-size);
  line-height: 12px;
  font-weight: 500;
  color: var(--color-dark-grey-v2);
}
.name3,
.user3 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.user3 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-xs);
}
.div57 {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  letter-spacing: -0.01em;
  line-height: 24px;
  font-weight: 600;
  display: inline-block;
}
.number3 {
  width: 24px;
  position: relative;
  border-radius: var(--br-7xs);
  background-color: var(--color-accent-01);
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.add-icon3 {
  width: 8px;
  position: relative;
  height: 8px;
}
.icon3 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xl);
  border: 2px solid var(--neutral-03);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs);
}
.iconadd3 {
  display: none;
}
.iconadd3,
.ui-iconclosefilled3 {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.icon-rightcouple7 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.icon-rightcouple6,
.user-parent1 {
  display: none;
  flex-direction: row;
  align-items: center;
}
.icon-rightcouple6 {
  justify-content: flex-end;
  text-align: center;
  color: var(--neutral-07);
}
.user-parent1 {
  width: 186px;
  justify-content: flex-start;
  gap: var(--gap-29xl);
}
.home3 {
  flex: 1;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 24px;
  font-weight: 600;
  white-space: pre-wrap;
}
.left24 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.div58 {
  position: absolute;
  top: 4px;
  left: 6.7px;
  letter-spacing: -0.01em;
  font-weight: 600;
}
.wrapper19 {
  width: 20px;
  position: relative;
  border-radius: var(--br-9xs);
  background-color: var(--color-accent-03);
  height: 20px;
  display: none;
  text-align: center;
  font-size: var(--font-size-3xs);
  color: var(--color-black);
}
.nav-item24 {
  text-decoration: none;
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--color-light-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs);
  gap: var(--gap-xs);
  cursor: pointer;
  color: inherit;
}
.magnifying-glass-1-12 {
  width: 24px;
  position: relative;
  height: 24px;
  object-fit: cover;
}
.browse4 {
  flex: 1;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 24px;
  font-weight: 600;
}
.left25,
.nav-item25 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.left25 {
  flex: 1;
}
.nav-item25 {
  text-decoration: none;
  align-self: stretch;
  border-radius: var(--br-5xs);
  padding: var(--padding-xs);
  gap: var(--gap-xs);
  cursor: pointer;
  color: inherit;
}
.bookmark3 {
  width: 141px;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 24px;
  font-weight: 600;
  white-space: pre-wrap;
  display: inline-block;
  flex-shrink: 0;
}
.left26 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.wrapper20 {
  width: 20px;
  position: relative;
  border-radius: var(--br-9xs);
  background-color: var(--color-accent-01);
  height: 20px;
  display: none;
  text-align: center;
  font-size: var(--font-size-3xs);
  color: var(--color-black);
}
.nav-item26 {
  text-decoration: none;
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--color-teal-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs);
  gap: var(--gap-xs);
  cursor: pointer;
  color: var(--color-light-white);
}
.notification3 {
  width: 109px;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 24px;
  font-weight: 600;
  white-space: pre-wrap;
  display: inline-block;
  flex-shrink: 0;
}
.wrapper22 {
  width: 20px;
  position: relative;
  border-radius: var(--br-9xs);
  background-color: var(--color);
  height: 20px;
  text-align: center;
  font-size: var(--font-size-3xs);
  color: var(--color-black);
}
.nav-item28 {
  text-decoration: none;
  align-self: stretch;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs);
  gap: var(--gap-9xs);
  cursor: pointer;
  color: inherit;
}
.iconmenu-icon6,
.wrapper23 {
  width: 24px;
  position: relative;
  height: 24px;
}
.wrapper23 {
  width: 20px;
  border-radius: var(--br-9xs);
  background-color: var(--color);
  height: 20px;
  display: none;
  text-align: center;
  font-size: var(--font-size-3xs);
  color: var(--color-black);
}
.left30,
.nav-item29,
.nav-item30 {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.nav-item29 {
  width: 186px;
  border-radius: var(--br-5xs);
  padding: var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-xs);
  font-size: var(--base-1-semibold-size);
}
.left30,
.nav-item30 {
  width: 162px;
  gap: var(--gap-7xs);
}
.nav-item30 {
  width: 186px;
  border-radius: var(--br-5xs);
  height: 48px;
  padding: var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-xs);
  font-size: var(--base-1-semibold-size);
}
.nav-item-parent1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--font-size-sm);
  color: var(--color-dark-grey-v2);
}
.divider3,
.nav-item-parent1,
.top3 {
  align-self: stretch;
}
.top3 {
  height: 525px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.divider3 {
  position: relative;
  border-radius: var(--br-11xs);
  background-color: var(--color-dark-grey);
  height: 2px;
  overflow: hidden;
  flex-shrink: 0;
  opacity: 0.2;
}
.divider-parent1,
.nav-item31 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.nav-item31 {
  border-radius: var(--br-5xs);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-xs);
  gap: var(--gap-xs);
}
.divider-parent1 {
  flex-direction: column;
  align-items: flex-start;
}
.light3 {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 24px;
  font-weight: 600;
}
.toggle6 {
  flex: 1;
  box-shadow: var(--button-01);
  border-radius: var(--br-13xl);
  background-color: var(--color-light-white);
  overflow: hidden;
  padding: var(--padding-9xs) var(--padding-base) var(--padding-9xs)
    var(--padding-5xs);
  gap: var(--gap-5xs);
}
.switch3,
.toggle6,
.toggle7 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.toggle7 {
  flex: 1;
  border-radius: var(--br-13xl);
  padding: var(--padding-9xs) var(--padding-base) var(--padding-9xs)
    var(--padding-5xs);
  gap: var(--gap-5xs);
}
.switch3 {
  align-self: stretch;
  border-radius: var(--br-21xl);
  background-color: var(--color-whitesmoke-200);
  padding: var(--padding-9xs);
  gap: var(--gap-9xs);
}
.bottom3,
.navigation-drawer3 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.bottom3 {
  width: 186px;
  display: none;
  gap: var(--gap-5xs);
  color: var(--color-dark-grey-v2);
}
.navigation-drawer3 {
  position: absolute;
  top: 69px;
  left: 1px;
  background-color: var(--color-light-white);
  width: 234px;
  height: 529px;
  display: flex;
  padding: var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-122xl);
  font-size: var(--base-1-semibold-size);
  color: var(--color-light-body-text);
}
.person-circle-1-icon3 {
  position: absolute;
  top: 483px;
  left: 36px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.bookmark-page-open-drawer-item,
.group-child31 {
  position: absolute;
  top: 526px;
  left: 24px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-100);
  width: 187px;
  height: 48px;
  cursor: pointer;
}
.group-child31 {
  top: 0;
  left: 0;
  background-color: var(--color-teal-200);
}
.user123455 {
  position: absolute;
  top: 15px;
  left: 43px;
  font-weight: 600;
  white-space: pre-wrap;
  display: inline-block;
  width: 126px;
  height: 17px;
}
.rectangle-parent27 {
  position: absolute;
  top: 471px;
  left: 24px;
  width: 187px;
  height: 48px;
  cursor: pointer;
  color: var(--color-light-white);
}
.log-out3 {
  position: absolute;
  top: 541px;
  left: 54px;
  font-weight: 600;
  color: var(--color-gainsboro-100);
  text-align: center;
  display: inline-block;
  width: 126px;
  height: 17px;
}
.bookmark-page-open-drawer {
  width: 235px;
  height: 100%;
  position: relative;
  overflow: hidden;
  opacity: 0;
  max-width: 90%;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-darkviolet-100);
  font-family: var(--base-1-semibold);
}
.bookmark-page-open-drawer.animate {
  animation: 0.25s ease 0s 1 normal forwards slide-in-left;
}
