@keyframes slide-in-left {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.notifications-page-child {
  position: absolute;
  top: 73.2px;
  left: 318.2px;
  width: 11.6px;
  height: 11.6px;
  object-fit: cover;
}
.list-1-icon2 {
  position: absolute;
  top: calc(50% - 256px);
  left: calc(50% - 160px);
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.group-child14,
.notifications {
  position: absolute;
  top: calc(50% - 14px);
  height: 28px;
}
.notifications {
  left: calc(50% - 76px);
  font-weight: 600;
  display: inline-block;
  width: 166px;
}
.group-child14 {
  left: calc(50% - 90px);
  background-color: var(--color-gold-300);
  width: 8px;
}
.notifications-parent {
  position: absolute;
  top: calc(50% - 218px);
  left: calc(50% - 156px);
  width: 180px;
  height: 28px;
  font-size: var(--font-size-5xl);
}
.group-child15,
.notifications-page-item {
  position: absolute;
  border-radius: var(--br-3xs);
}
.notifications-page-item {
  top: calc(50% - 174px);
  left: calc(50% - 157px);
  background-color: var(--color-whitesmoke-100);
  width: 288px;
  height: 74px;
}
.group-child15 {
  top: calc(50% - 37.05px);
  left: calc(50% - 143.5px);
  width: 50px;
  height: 74.1px;
  object-fit: cover;
}
.your-review-for {
  margin: 0;
}
.min-ago,
.your-review-for-container {
  position: absolute;
  top: calc(50% - 26.05px);
  left: calc(50% - 82.5px);
  display: inline-block;
  width: 226px;
}
.min-ago {
  top: calc(50% + 11.95px);
  font-weight: 300;
}
.group-wrapper {
  position: absolute;
  top: calc(50% - 37.05px);
  left: calc(50% - 143.5px);
  width: 287px;
  height: 74.1px;
}
.notifications-page-inner,
.notifications-page-inner1 {
  position: absolute;
  top: calc(50% - 174px);
  left: calc(50% - 156px);
  width: 287px;
  height: 74.1px;
}
.notifications-page-inner1 {
  top: calc(50% - 89px);
}
.icon-instagram-with-circle3 {
  width: 25px;
  position: relative;
  height: 25px;
}
.icon-logo-tiktok3,
.icon-twitter3 {
  width: 30.8px;
  position: relative;
  height: 25px;
}
.icon-logo-tiktok3 {
  width: 21.7px;
}
.icon-instagram-with-circle-parent1 {
  position: absolute;
  top: 2px;
  left: 22.5px;
  width: 315px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-mini) 0 0;
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.frame-child1 {
  position: absolute;
  top: 61px;
  left: 0;
  background-color: var(--color-gold-100);
  width: 360px;
  height: 19px;
}
.copyright-20243 {
  position: absolute;
  top: 64px;
  left: 133px;
  font-weight: 300;
  white-space: pre-wrap;
}
.group-icon3 {
  position: absolute;
  height: 10.38%;
  width: 2.31%;
  top: 82.5%;
  right: 47.14%;
  bottom: 7.13%;
  left: 50.56%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frame-parent2 {
  top: calc(50% - 40px);
  background-color: var(--color-purple);
  height: 80px;
}
.footer3,
.frame-parent2,
.status-bar-light3 {
  position: absolute;
  left: calc(50% - 180px);
  width: 360px;
}
.footer3 {
  top: calc(50% + 240px);
  height: 80px;
  font-size: var(--font-size-3xs);
  color: var(--color-black);
}
.status-bar-light3 {
  top: calc(50% - 318px);
  height: 41.9px;
  object-fit: cover;
}
.notifications-page {
  width: 100%;
  position: relative;
  background-color: var(--color-light-white);
  height: 640px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-darkviolet-100);
  font-family: var(--base-1-semibold);
}
.cmaxx1,
.notifications-page-open-drawer-child {
  position: absolute;
  top: 0;
  left: 1px;
  width: 234px;
  height: 598px;
}
.cmaxx1 {
  left: 30.3px;
  font-weight: 800;
  display: inline-block;
  width: 129.7px;
  height: 38px;
}
.clapperboard-2-11 {
  position: absolute;
  top: 0;
  left: 0;
  width: 23.9px;
  height: 32px;
  object-fit: cover;
}
.cmaxx-group {
  position: absolute;
  top: 16px;
  left: 36px;
  width: 160px;
  height: 38px;
  cursor: pointer;
  font-size: var(--font-size-13xl);
}
.avatar-icon1 {
  width: 48px;
  position: relative;
  border-radius: var(--br-29xl);
  height: 48px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.ashfak-sayem1,
.ashfaksayemgmailcom1 {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 24px;
  font-weight: 600;
}
.ashfaksayemgmailcom1 {
  font-size: var(--caption-2-medium-size);
  line-height: 12px;
  font-weight: 500;
  color: var(--color-dark-grey-v2);
}
.name1,
.user1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.user1 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-xs);
}
.div26 {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  letter-spacing: -0.01em;
  line-height: 24px;
  font-weight: 600;
  display: inline-block;
}
.number1 {
  width: 24px;
  position: relative;
  border-radius: var(--br-7xs);
  background-color: var(--color-accent-01);
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.add-icon1 {
  width: 8px;
  position: relative;
  height: 8px;
}
.icon1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xl);
  border: 2px solid var(--neutral-03);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs);
}
.iconadd1 {
  display: none;
}
.iconadd1,
.ui-iconclosefilled1 {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.icon-rightcouple3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.icon-rightcouple2,
.user-group {
  display: none;
  flex-direction: row;
  align-items: center;
}
.icon-rightcouple2 {
  justify-content: flex-end;
  text-align: center;
  color: var(--neutral-07);
}
.user-group {
  width: 186px;
  justify-content: flex-start;
  gap: var(--gap-29xl);
}
.home1 {
  flex: 1;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 24px;
  font-weight: 600;
  white-space: pre-wrap;
}
.left8 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.div27 {
  position: absolute;
  top: 4px;
  left: 6.7px;
  letter-spacing: -0.01em;
  font-weight: 600;
}
.wrapper5 {
  width: 20px;
  position: relative;
  border-radius: var(--br-9xs);
  background-color: var(--color-accent-03);
  height: 20px;
  display: none;
  text-align: center;
  font-size: var(--font-size-3xs);
  color: var(--color-black);
}
.nav-item8 {
  text-decoration: none;
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--color-light-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs);
  gap: var(--gap-xs);
  cursor: pointer;
  color: inherit;
}
.magnifying-glass-1-11 {
  width: 24px;
  position: relative;
  height: 24px;
  object-fit: cover;
}
.browse2 {
  flex: 1;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 24px;
  font-weight: 600;
}
.left9,
.nav-item9 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.left9 {
  flex: 1;
}
.nav-item9 {
  text-decoration: none;
  align-self: stretch;
  border-radius: var(--br-5xs);
  padding: var(--padding-xs);
  gap: var(--gap-xs);
  cursor: pointer;
  color: inherit;
}
.bookmark1 {
  width: 141px;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 24px;
  font-weight: 600;
  white-space: pre-wrap;
  display: inline-block;
  flex-shrink: 0;
}
.left10 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.wrapper6 {
  width: 20px;
  position: relative;
  border-radius: var(--br-9xs);
  background-color: var(--color-accent-01);
  height: 20px;
  display: none;
  text-align: center;
  font-size: var(--font-size-3xs);
  color: var(--color-black);
}
.notification1 {
  width: 109px;
  line-height: 24px;
  font-weight: 600;
  white-space: pre-wrap;
  display: inline-block;
  flex-shrink: 0;
}
.b,
.notification1 {
  position: relative;
  letter-spacing: -0.01em;
}
.nav-item12,
.wrapper8 {
  display: flex;
  align-items: center;
}
.wrapper8 {
  border-radius: var(--br-9xs);
  background-color: #fbd94c;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-9xs) 6px;
  text-align: center;
  font-size: var(--font-size-3xs);
  color: #595959;
}
.nav-item12 {
  text-decoration: none;
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--color-teal-200);
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-xs);
  gap: var(--gap-9xs);
  cursor: pointer;
  color: var(--color-light-white);
}
.iconmenu-icon2,
.wrapper9 {
  width: 24px;
  position: relative;
  height: 24px;
}
.wrapper9 {
  width: 20px;
  border-radius: var(--br-9xs);
  background-color: var(--color);
  height: 20px;
  display: none;
  text-align: center;
  font-size: var(--font-size-3xs);
  color: var(--color-black);
}
.left14,
.nav-item13,
.nav-item14 {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.nav-item13 {
  width: 186px;
  border-radius: var(--br-5xs);
  padding: var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-xs);
  font-size: var(--base-1-semibold-size);
}
.left14,
.nav-item14 {
  width: 162px;
  gap: var(--gap-7xs);
}
.nav-item14 {
  width: 186px;
  border-radius: var(--br-5xs);
  height: 48px;
  padding: var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-xs);
  font-size: var(--base-1-semibold-size);
}
.nav-item-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--font-size-sm);
  color: var(--color-dark-grey-v2);
}
.divider1,
.nav-item-group,
.top1 {
  align-self: stretch;
}
.top1 {
  height: 525px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.divider1 {
  position: relative;
  border-radius: var(--br-11xs);
  background-color: var(--color-dark-grey);
  height: 2px;
  overflow: hidden;
  flex-shrink: 0;
  opacity: 0.2;
}
.divider-group,
.nav-item15 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.nav-item15 {
  border-radius: var(--br-5xs);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-xs);
  gap: var(--gap-xs);
}
.divider-group {
  flex-direction: column;
  align-items: flex-start;
}
.light1 {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 24px;
  font-weight: 600;
}
.toggle2 {
  flex: 1;
  box-shadow: var(--button-01);
  border-radius: var(--br-13xl);
  background-color: var(--color-light-white);
  overflow: hidden;
  padding: var(--padding-9xs) var(--padding-base) var(--padding-9xs)
    var(--padding-5xs);
  gap: var(--gap-5xs);
}
.switch1,
.toggle2,
.toggle3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.toggle3 {
  flex: 1;
  border-radius: var(--br-13xl);
  padding: var(--padding-9xs) var(--padding-base) var(--padding-9xs)
    var(--padding-5xs);
  gap: var(--gap-5xs);
}
.switch1 {
  align-self: stretch;
  border-radius: var(--br-21xl);
  background-color: var(--color-whitesmoke-200);
  padding: var(--padding-9xs);
  gap: var(--gap-9xs);
}
.bottom1,
.navigation-drawer1 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.bottom1 {
  width: 186px;
  display: none;
  gap: var(--gap-5xs);
  color: var(--color-dark-grey-v2);
}
.navigation-drawer1 {
  position: absolute;
  top: 69px;
  left: 1px;
  background-color: var(--color-light-white);
  width: 234px;
  height: 529px;
  display: flex;
  padding: var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-122xl);
  font-size: var(--base-1-semibold-size);
  color: var(--color-light-body-text);
}
.group-child18 {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-5xs);
  background-color: var(--color-teal-200);
  width: 187px;
  height: 48px;
  cursor: pointer;
}
.person-circle-1-icon1 {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.user123453 {
  position: absolute;
  top: 15px;
  left: 43px;
  font-weight: 600;
  white-space: pre-wrap;
  display: inline-block;
  width: 126px;
  height: 17px;
}
.group-child19,
.rectangle-parent15 {
  position: absolute;
  width: 187px;
  height: 48px;
  cursor: pointer;
}
.rectangle-parent15 {
  top: 471px;
  left: 24px;
  color: var(--color-light-white);
}
.group-child19 {
  top: 0;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-100);
}
.log-out1 {
  position: absolute;
  top: 15px;
  left: 30px;
  font-weight: 600;
  display: inline-block;
  width: 126px;
  height: 17px;
}
.rectangle-parent16 {
  position: absolute;
  top: 526px;
  left: 24px;
  width: 187px;
  height: 48px;
  text-align: center;
  color: var(--color-gainsboro-100);
}
.notifications-page-open-drawer {
  width: 235px;
  height: 100%;
  position: relative;
  overflow: hidden;
  opacity: 0;
  max-width: 90%;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-darkviolet-100);
  font-family: var(--base-1-semibold);
}
.notifications-page-open-drawer.animate {
  animation: 0.25s ease 0s 1 normal forwards slide-in-left;
}
